<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      border: 0;
    }
  </style>
  <!-- Media Queries -->
  <style type="text/css">
    @media all and (max-width: 500px) {
      .copa-logo {
        margin-right: 0 !important;
        width: 116px !important;
      }

      .mobile-padding {
        padding: 24px 16px 0 !important;
      }
    }
  </style>
  <!-- Clases CSS -->
  
</head>

<body style="font-family: 'Poppins', Arial, sans-serif; margin: 0; border: 0; padding: 0;">
  <table align="center" cellspacing="0" border="0"
    style="margin: 0;width: 100%; height: 97px; background-color: #0032A0;border-collapse: collapse;border-top-left-radius: 8px;border-top-right-radius: 8px; ">
    <tr>
      <td style=" font-size: 14px; padding: 32px 32px 0 32px" class="mobile-padding">
        <!-- Replace this in Master Cmp -->
        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%; ">
          <tbody>
            <tr>
              <td style="width: 50%; height: 45px;">
                <img height="auto" src="https://www.copaair.com/webassets/images/copa-logo-white.png"
                  style="border: 0;display: block;outline: none;text-decoration: none;width: 176px;height: auto;line-height: 100%;"
                  alt="Copa Logo" class="copa-logo" width="193">
              </td>
              <td align="right" style="width: 50%; color: #ffffff; border-collapse: collapse; margin: 0;">
                <table align="right">
                  <tr>
                    <td align="right"
                      style="font-size: 14px; font-style: normal; font-weight: 400; color: #ffffff; border-collapse: collapse; white-space: nowrap;">
                      Codigo de reserva:
                    </td>
                  </tr>
                  <tr>
                    <td align="right"
                      style="font-family: Gilroy, Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-weight: 700; color: #ffffff; border-collapse: collapse; ">
                      EBXGHT
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="border-collapse: collapse;">
                <p
                  style="border-top: 1px solid #cccccb; font-size: 1px; margin: 22px 0 0 0; width: 100%; display: block; max-height: 1px; height: 1px;">
                  &nbsp;
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- End Replace -->
      </td>
    </tr>
  </table>
</body>

</html>